<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Toddler Logo" src="./../assets/images/toddler-logo.jpg">
</div>
<h2>La comunicación entre familias y guarderías nunca fue tan fácil.</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Iniciar sesión</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Educador</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Familiar</a></h2>
  </li>
</ul>

